html,
body {
	margin: 0;
	height: 100%;
	overflow: hidden;
	color: rgba(207, 247, 247, 0.8);
}

body {
	background-image: url("/src/world-clock-bg.jpg");
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
	font-family: "Rubik", sans-serif;
	font-weight: 300;
}

h1,
footer {
	text-align: center;
}

h1 {
	margin-top: 100px;
	font-size: 3.5em;
	font-weight: 300;
}

select {
	display: block;
	margin: 50px auto;
	font-size: 1.15em;
	width: 350px;
	padding: 8px;
	border-radius: 4px;
	background: transparent;
	color: rgba(207, 247, 247, 0.8);
	border: 1px solid #9f89fb;
}

footer {
	padding-bottom: 15px;
}

footer a {
	color: white;
	opacity: 0.7;
	font-weight: 600;
	transition: all 250ms ease-in-out;
}

footer a:is(:hover, :focus) {
	color: white;
	opacity: 1;
}

small {
	font-size: 0.5em;
	vertical-align: middle;
	padding-left: 10px;
	color: #9f89fb;
}

.container {
	max-width: 700px;
	margin: 60px auto;
	padding: 15px;
	border-radius: 6px;
	background-color: rgba(0, 0, 0, 0.5);
	backdrop-filter: blur(7px);
	animation: slideDown 0.5s ease;
}

@keyframes slideDown {
	0% {
		opacity: 0;
		transform: translateY(-50px);
	}

	100% {
		opacity: 1;
		transform: translateY(0);
	}
}

.city-and-time,
.date,
.back-link {
	padding: 0 15px;
}

.city-and-time {
	display: flex;
	justify-content: space-between;
	animation: fadeIn 750ms ease-in-out;
}

@keyframes fadeIn {
	0% {
		opacity: 0;
	}

	100% {
		opacity: 1;
	}
}

.city-and-time h3 {
	font-size: 2.25em;
}

.city-and-time h2 {
	font-size: 2.75em;
}

.date {
	position: relative;
	top: -30px;
	padding-bottom: 30px;
	opacity: 0.7;
	border-bottom: 1px dotted #9f89fb;
}

.date:last-child {
	border-bottom: unset;
	padding-bottom: unset;
}

.back-link {
	display: block;
	margin: 0 auto;
	padding-top: 20px;
	color: #18c1de;
	opacity: 0.8;
	text-align: center;
	text-decoration: none;
	text-transform: lowercase;
	letter-spacing: 0.5px;
	transition: all 250ms ease-in-out;
}

.back-link:is(:hover, :focus) {
	color: #9f89fb;
}

@media (max-width: 425px) {
	html,
	body {
		overflow: scroll;
	}

	body {
		background-image: url("/src/world-clock-bg.jpg");
		background-repeat: no-repeat;
		background-position: center center;
	}

	select {
		width: max-content;
	}

	.container {
		overflow: visible;
	}

	.city-and-time,
	.date {
		text-align: center;
	}

	.city-and-time {
		flex-direction: column;
		justify-content: center;
	}

	.city-and-time h2 {
		margin-bottom: 40px;
		margin-top: 15px;
	}

	.city-and-time h3 {
		margin-bottom: unset;
	}
}
