html,
body {
	margin: 0;
	height: 100%;
	overflow: hidden;
	color: rgba(207, 247, 247, 0.8);
}

body {
	background-image: url("https://images.unsplash.com/photo-1581904902287-0991e3fd1725?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8NTJ8fHdvcmxkfGVufDB8fDB8fA%3D%3D&auto=format&fit=crop&w=800&q=60");
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
	backdrop-filter: contrast(85%);
	font-family: "Rubik", sans-serif;
	font-weight: 300;
}

h1,
label,
footer {
	text-align: center;
}

h1 {
	margin-top: 100px;
	font-size: 54px;
}

label,
select {
	display: block;
	margin: 20px auto;
	font-size: 18px;
}

select {
	width: 400px;
	padding: 8px;
	border-radius: 4px;
	background: transparent;
	color: rgba(207, 247, 247, 0.8);
	border: 1px solid #9f89fb;
}

small,
footer a {
	color: #9f89fb;
}

small {
	font-size: 20px;
	vertical-align: middle;
	padding-left: 10px;
}

.container {
	max-width: 700px;
	margin: 60px auto;
	padding: 15px;
	border-radius: 6px;
	background-color: rgba(0, 0, 0, 0.5);
}

.city-and-time,
.date {
	padding: 0 15px;
}

.city-and-time {
	display: flex;
	justify-content: space-between;
}

.city-and-time h3 {
	font-size: 36px;
}

.city-and-time h2 {
	font-size: 42px;
}

.date {
	position: relative;
	top: -25px;
	padding-bottom: 30px;
	opacity: 0.7;
	border-bottom: 1px dotted #9f89fb;
}

.date:last-child {
	border-bottom: none;
	padding-bottom: unset;
}
